<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <h1>Evaluate Your Article</h1>
        </header>
        <main>
            <section class="area">
                <form class="" onsubmit="">
                    <input id="name" type="text" name="input" value="" placeholder="Enter URL..">
                    <input type="submit" name="" value="submit" onclick="return Client.checkForName(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section class="area">
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
