body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

section {
    &.evaluate {
        h1 {
            color: crimson;
            font-size: 40px;
            margin-left: 600px;
        }
    }
    margin-right: 30px;
}
