footer {
    background-color: blueviolet;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2em 0;
    & > p {
      color: cornsilk;
      text-align: center;
      font-size: 45px;
    }
  }